{{!-- {{log comment tasks}} --}}

{{#each tasks as |task|}}    
  <div class="element-body-task {{taskClass}}" {{action "toggleTask" style on='click'}}>    
 
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">№ заявки:</span>
      {{task.index}}
    </div> 

    <ol class="element-body-task-detail element-body-task-detail_list">
      <li class="element-body-task-detail__header" value="0">Задачи:</li>
        {{#each task.targets as |target|}}
          <li class="element-body-task-detail__element">
             {{target}}
          </li>
        {{/each}}
    </ol>

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Адрес:</span>
      {{task.fullAdress}}
    </div>

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Предварительная длительность работ: </span>
      {{task.planeTime}}
    </div>
    
    {{#if free}}
      <button 
        class="form-header__element form-header__element_button form-footer__button"
        {{action "setTask" team '2019-11-29' 8 0}}>
            Присвоить заявку
      </button> 
    {{/if}}    
  </div>
{{/each}}   