{{#each tasks as |task|}} 
  <div class="element-body-task {{taskClass}}" 
       {{action "toggleTask" style on='click'}} 
       style="top: {{getTaskShift task.timeStart}}px;
              z-index: {{getZIndex currentHour endHour dayId}}">    
 
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">№ заявки:</span>
      {{task.index}}
    </div> 

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Срочность: </span>
      {{task.importance}}
    </div>

    <ol class="element-body-task-detail element-body-task-detail_list">
      <li class="element-body-task-detail__header" value="0">Задачи:</li>
        {{#each task.targets as |target|}}
          <li class="element-body-task-detail__element">
             {{target}}
          </li>
        {{/each}}
    </ol>

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Адрес:</span>
      {{task.fullAdress}}
    </div>

{{log comment task.timeStart}}
    {{#if task.time}}
      <div class="element-body-task-detail">
        <span class="element-body-task-detail__header">Время начала: </span>
        {{task.time}}
      </div>
    {{/if}}    

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Предварительная длительность работ: </span>
      {{task.planeTime}}
    </div>  
  </div>
{{/each}}   