<div class="form-body__element {{comparisonDates (getDate date.id date.value)(getDate day.id date.value)}}">
    <div class="element-header">
        <div class="element-header__cell element-header__cell_day">
            {{toUpperCase day.rus}}
        </div>
        <div class="element-header__cell element-header__cell_data" id='{{day.en}}'>
            {{getDateString day.id date.value}}
        </div>
        <div class="element-header__cell element-header__cell_total-tasks">
            Всего задач: 
            <span 
                id='total-tasks-{{day.en}}' 
                class="element-header__cell-content">
                0
            </span>
        </div>
    </div>
    <table 
        class="element-body" 
        id="table-content">
        <tr class="element-body__row">
            <th class="element-body__cell">
                Время
            </th>
            <th class="element-body__cell">
                Детали задачи
            </th>
        </tr>
        {{#each hours as |hour|}}
            {{table-row hour=hour date=date.value}}
        {{/each}}        
    </table>
</div>