<div class="form">
    <header class="form-header">
        <label class="form-header__element" for="team-id">
            Номер бригады:
            <input 
                type="number" 
                id="add-team-id" 
                name="id" 
                value="101"
                {{action "createTasks" on="input"}}>
        </label>
        
        <label 
            class="form-header__element" 
            for="add-date">
                Дата (в формате ДД.ММ.ГГГГ):
                <input 
                    type="date" 
                    id="add-date" 
                    name="id"
                    value={{getDateForm date.value}}
                    {{action "createTasks" on="input"}}>
        </label>
        
        {{#if isTasksCreated}}
            <button 
                class="form-header__element form-header__element_button" 
                id="button"
                {{action "showTable"}}>
                    Показать таблицу
            </button>
        {{else}}
            <button 
                class="form-header__element form-header__element_button" 
                id="button"
                {{action "createTasks"}}>
                    Генерировать список заявок
            </button>
        {{/if}}
        
    </header>
   <main 
        class="form-body" 
        id="table"> 
            {{#if isShowTable}}
                {{#each week as |day|}}
                    {{table-form hours=hours 
                                 day=day 
                                 date=date 
                                 status=status 
                                 taskList=taskList
                                 totalTask=(getTotalTask (getDateForm (getDate day.id date.value)) taskCount)}}
                {{/each}}
            {{/if}}              
    </main>
</div>