<div class="form">
    <header class="form-header">
        <label class="form-header__element" for="team-id">
            Номер бригады:
            <input 
                type="number" 
                id="add-team-id" 
                name="id" 
                value="101">
        </label>
        
        <label 
            class="form-header__element" 
            for="add-date">
                Дата (в формате ДД.ММ.ГГГГ):
                <input 
                    type="date" 
                    id="add-date" 
                    name="id"
                    value={{getFormDate date.value}}>
        </label>
            
        <button 
            class="form-header__element form-header__element_button" 
            id="button"
            {{action "showTable"}}>
                Показать таблицу
        </button>
            
        <button 
            class="form-header__element form-header__element_button" 
            id="button"
            {{action "showTasks"}}>
                Вывести задачи
        </button>
    </header>
   <main 
        class="form-body" 
        id="table">
            {{#if isShowTasks}}
                {{#each currentTeam as |team|}}
                    {{form-task tasks=team.tasks}}                     
                {{/each}}
            {{/if}} 
            {{outlet}} 
            {{#if isShowTable}}
                {{#each week as |day|}}
                    {{table-form hours=hours day=day date=date status=status}}
                {{/each}}
            {{/if}}              
    </main>

    <footer>
        <h2>Список заявок</h2>
        {{form-task comment='Это из общего списка' num='' tasks=tasks}}

        <h2>Список бригад</h2>
        {{form-team teams=teams}}
    </footer>
</div>
