<div class="form">
    <div class="form__comment">
        Для теста рекомендуется использовать неделю 25.11.2019-1.12.2019 и номера бригад 101-102
        <button 
            class="form-header__element form-header__element_button form-header__element_small-button" 
            {{action "setDefaulData"}}>
                Заполнить по дефолту
        </button>
    </div>

    <header class="form-header">
        <label class="form-header__element" for="team-id">
            Номер бригады:
            {{input id="add-team-id" enter="validateInputs" value=inputTeamId}}
        </label>
        {{input-error errors=errors.team}}
        
        <label 
            class="form-header__element" 
            for="add-date">
                Дата (в формате ДД.ММ.ГГГГ):
                {{input id="add-date" enter="validateInputs" value=inputDate}}
                {{currentDateString}}
        </label>
        {{input-error errors=errors.date}}
        <div class="form__comment form-comment_inner">
            По окончании ввода нажмите enter
        </div>

        {{#if isShowButtons}}
            {{#if isTasksCreated}}
                <button 
                    class="form-header__element form-header__element_button"
                    {{action "showTable"}}>
                        Показать таблицу
                </button>
            {{else}}
                <button 
                    class="form-header__element form-header__element_button"
                    {{action "createTasks"}}>
                        Генерировать список заявок
                </button>
            {{/if}}  
        {{/if}}              
    </header>
    {{#if isShowTable}}
        <main 
            class="form-body" 
            id="table">
                {{#each week as |day|}}
                    {{table-form hours=hours 
                                 day=day 
                                 date=date 
                                 status=status 
                                 taskList=taskList
                                 shiftOptions=shiftOptions
                                 totalTask=(getTotalTask (getDateForm (getDate day.id date.value)) taskCount)}}
                {{/each}}             
        </main>
    {{/if}}
    {{#if isTasksCreated}}
        <footer class="form-footer">
            <button 
                class="form-header__element form-header__element_button"
                {{!-- {{action "addTask"}} --}}>
                    Присвоить заявку
            </button> 
            <h2 class="form-footer__title">
                Свободные заявки
            </h2>
            {{form-task taskClass="element-body-task_not-table" comment='Это правильно отрисовывается' tasks=freeTaskList}}
        </footer> 
    {{/if}}
</div>